<%- include('./partials/header') %>

<!DOCTYPE html>
<html>
  <head>
    <title>Allen Xie Portfolio</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <!-- Hero details card -->
    <div class="row">
      <div class="col"></div>
      <div class="container mt-3 mb-3 card-container col-8">
        <div class="card shadow-lg">
            <div class="card-header">
                <!-- Title -->
                <div class="row">
                    <div class="col project-card-title">Projects</div>
                </div>
            </div>
            <div class="card-body">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" data-bs-toggle="tab" href="#herodex">HeroDex</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#war">War</a>
                  </li>
                </ul>
              <!-- tab content -->
                <!-- HeroDex -->
              <div class="tab-content">
                <div id="herodex" class="container tab-pane active">
                  <div class="container-fluid mt-3">
                    <div class="row">
                      <div class="col">
                        <a class="link-dark" href="https://github.com/allenaxie/herodex" target="_blank">
                          <span class="bi-github"></span> GitHub
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <img class="war-image-1 float-start img-thumbnail" src="images/herodexImage1.png">
                      </div>
                     
                    </div>
                  </div>
                </div>
                    <!-- War -->
                <div id="war" class="container tab-pane">
                  <div class="container-fluid mt-3">
                    <div class="row">
                      <div class="col">
                        <a class="link-dark" href="https://github.com/allenaxie/War" target="_blank">
                          <span class="bi-github"></span> GitHub
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <img class="war-image-1 float-start img-thumbnail" src="images/warImage1.png">
                      </div>
                      
                    </div>
                  </div>
                </div>
                        
                        
              </div>
            </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        
                    </div>
                    <div class="col"></div>
                </div>
                
            </div>
        </div>
        <div class="col-2"></div>
    </div>
   
  </body>
</html>
