<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Allen Xie Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <span class="bi-laptop"></span> | <strong class="brand-name">AX </strong> <span class="development">Development</span>
          </a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>                     
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">
                      <span class="bi-house-door"></span> Home
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#about-me">
                  <span class="bi-people"></span> About Me
                </a>
              </li>
      
            <li class="nav-item ">
                <a class="nav-link active" href="#projects">
                    <span class="bi-person-badge"></span> Projects
                </a>
            </li>
              <li class="nav-item ">
                  <a class="nav-link active" href="#contact-me">
                      <span class="bi-box-arrow-right"></span> Contact Me
                  </a>
              </li>
            </ul>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <header class="masthead">
      <div class="masthead-container">
        <div class="row masthead-title-container">
          <div class="col-1"></div>
          <h1 class="masthead-title col mt-5 float-start">AX Development</h1>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col-2"></div>
          <h3 class="masthead-slogan col">Hi I'm <br><strong>Allen Xie</strong></h3>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <h4 class="masthead-job-title col">Full-stack software developer</h4>
          
        </div>
        <div class="row">
          <div class="col-1"></div>
          <a class="btn btn-primary btn-xl text-uppercase col-3" id="masthead-btn" href="about-me">Tell Me More</a>
        </div>
      </div>
    </header>
    <!-- About Me -->
    <!-- Projects -->
    <div class="row">
      <div class="col"></div>
      <div class="container mt-3 mb-3 card-container col-8" id="projects">
        <div class="card shadow-lg">
            <div class="card-header">
                <!-- Title -->
                <div class="row">
                    <div class="col project-card-title">Projects</div>
                </div>
            </div>
            <div class="card-body">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" data-bs-toggle="tab" href="#herodex">HeroDex</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#war">War</a>
                  </li>
                </ul>
              <!-- tab content -->
                <!-- HeroDex -->
              <div class="tab-content">
                <div id="herodex" class="container tab-pane active">
                  <div class="container-fluid mt-3">
                    <div class="row">
                      <div class="col">
                        <a class="link-dark" href="https://github.com/allenaxie/herodex" target="_blank">
                          <span class="bi-github"></span> GitHub
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <img class="war-image-1 float-start img-thumbnail" src="images/herodexImage1.png">
                      </div>
                     
                    </div>
                  </div>
                </div>
                    <!-- War -->
                <div id="war" class="container tab-pane">
                  <div class="container-fluid mt-3">
                    <div class="row">
                      <div class="col">
                        <a class="link-dark" href="https://github.com/allenaxie/War" target="_blank">
                          <span class="bi-github"></span> GitHub
                        </a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <img class="war-image-1 float-start img-thumbnail" src="images/warImage1.png">
                      </div>
                      
                    </div>
                  </div>
                </div>
                        
                        
              </div>
            </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        
                    </div>
                    <div class="col"></div>
                </div>
                
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <!-- Contact Me -->
  </body>
</html>
