@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100vh;
}

/* navbar */
.brand-name {
    font-family: Marcellus;
}

.development {
    font-family: Marcellus;
}

.navbar-brand:hover {
    text-shadow: 1px 1px 2px #06c2f1,
    0px 0px 0.2em #0781e6,
    0px 0px 0.5em #04b8cf;
    animation: forwards;
}

/* header */
.masthead-container {
    background: #242424;
    height: 100vh;
}

.masthead-title {
    color: #05bcc9;
    font-family: Marcellus;
    font-size: 2em;
    animation: masthead-title 3s;
}

@keyframes masthead-title {
    from {
        margin-left: -50%;
    }
}

.masthead-slogan {
    color: white;
    font-family: Marcellus;
    font-size: 1.3em;
    animation: masthead-slogan 7s;

}

@keyframes masthead-slogan {
    from {
        margin-left: -150%;
    }
}

#masthead-btn {
    background-color: #01848d;
    border: none;
    animation: masthead-btn 8s;
}

#masthead-btn:hover {
    background-color: #039aa5;
}

@keyframes masthead-btn {
    from {
        margin-left: -130%;
    }
}

/* project card */
.card {
    max-width: 100%;
}

.row {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
}

.project-card-title {
    text-align: center;
    font-size: 45px;
    font-family: Orbitron;
    text-shadow: 4px 4px 4px #868686;
    margin-bottom: 15px;
    margin-top: 15px;
}

/* panels */
.pane-heading {
    margin-top: 15px;
    margin-bottom: 20px;
}

.link-dark {
    text-decoration: none;
}

/* War panel */
.war-image-1 {
    max-width: 15em;
}
